<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Honkers Railway Launcher Arch enhancements</vendor>
  <vendor_url>https://github.com/an-anime-team/the-honkers-railway-launcher</vendor_url>
  <action id="moe.launcher.honkers.install-optional-dependency">
    <description>Install an optional Honkers Railway Launcher integration</description>
    <message>Authentication is required to install an optional game integration</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/honkers-railway-launcher/install-optional-dependency</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
</policyconfig>
